.movie-card {
  margin: 10px;
  width: 220px;
  height: 380px;

  &__image {
    img {
      width: 220px;
      height: 300px;
      border-radius: 5px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 5px;

    &__left {
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      flex: 1;
      padding-left: 5px;

      h4 {
        line-height: 20px;
      }

      p {
        font-size: 12px;
      }
    }

    &__right {
      background-color: black;
      border-radius: 50%;
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      p {
        font-size: 14px;
        font-weight: 700;
        color: white;
      }

      .high {
        color: rgb(44, 169, 44);
      }

      .medium {
        color: rgb(227, 202, 41);
      }

      .low {
        color: rgb(213, 49, 20);
      }
    }
  }
}
