<div class="cast">
  <h3>Elenco principal</h3>
  <div class="cast__card">
    <!-- <figure>
      <img [attr.src]="imageUrl + actor.profile_path" alt="{{ actor.name }}" />
    </figure> -->
    <figure class="cast__card__image">
      <img
        [attr.src]="
          'https://image.tmdb.org/t/p/original/3bOGNsHlrswhyW79uvIHH1V43JI.jpg'
        "
      />
    </figure>
    <div class="cast__card__content">
      <p id="name">Chris Evans</p>
      <p>Buzz Lightyear (voice)</p>
    </div>
  </div>
</div>
