<div class="cast">
  <h3>Elenco principal</h3>
  <div class="cast__content">
    <div *ngFor="let actor of showCast" class="cast__card">
      <figure class="cast__card__image">
        <img
          [attr.src]="
            actor.profile_path
              ? imageUrl + actor.profile_path
              : '../../../assets/images/generic_profile.png'
          "
          alt="{{ actor.name }}"
        />
      </figure>

      <div class="cast__card__content">
        <p id="name">{{ actor.name }}</p>
        <p>{{ actor.character }}</p>
      </div>
    </div>
  </div>
</div>
